.single-zman {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 18px 20px;
    width: min(75vw, 500px);
    min-height: 90px;
    max-width: 100vw;
    margin: 5px;
}
.zman-time-text {
    color: #99bb99;
}
.within-10-zman-time-text {
    font-size: 20px;
    font-weight: bold;
    color: #99bb99;
}
.time-remaining-text {
    font-size: min(38px, 5vw);
    text-align: center;
}
.time-remaining-text-eng {
    font-size: min(30px, 4.5vw);
    text-align: center;
}
.time-remaining-number {
    color: #ffffee;
    font-size: min(20px, 4vw);
    padding-right:5px;
}
.time-remaining-number-eng {
    color: #ffffee;
    font-size: min(17px, 4vw);
    padding-right:5px;
}
.time-remaining-label {
    font-size: min(20px, 4vw);
    font-weight: bold;
}
.time-remaining-label-eng {
    font-size: min(17px, 4vw);
    font-weight: bold;
}
.zman-type-name-text {
    color: #9999ff;
    font-size: 22px;
}
.zman-type-name-text-eng {
    color: #9999ff;
    font-size: 20px;
}
.zman-type-name-text-was {
    color: #555588;
    font-size: 15px;
}
.zman-type-name-text-was-eng {
    color: #555588;
    font-size: 12px;
}
