#root {
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
}

.basad {
    font-size: 7pt;
    font-weight: bold;
    letter-spacing: 3px;
    color: #333;
    position: absolute;
    right: 2px;
    top: 0px;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Rubik, "Noto Sans", system-ui, Helvetica, Arial, sans-serif;
}

.app-eng {
    direction: ltr;
    letter-spacing: 1px;
}

.app-heb {
    direction: rtl;
    font-family: Rubik, "Noto Sans", system-ui, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

h2,
h1,
h3,
h4,
h5 {
    line-height: initial;
    margin: 5px;
}

.button-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.top-section {
    padding: 0 0 10px 0;
    background-color: #1e1e1e;
    max-width: 100vw;
}

.zmanim-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding-top: 10px;
    background-color: #242424;
}

.day-notes-view {
    margin-top: 10px;
    width: 100%;
}

.day-notes-inner-view {
    justify-content: center;
    gap: 4vw;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
}

.day-notes-text {
    color: #7777aa;
    font-weight: bold;
    font-size: min(14px, 4vw);
    line-height: 27px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 3px;
    border-radius: 6px;
    text-align: center;
}

.tefillah-notes-view {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.tefillah-notes-inner-view {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.tefillah-notes-text {
    color: #889999;
    font-size: 12px;
    line-height: 24px;
    background-color: #191920;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 3px;
    border-radius: 6px;
    text-align: center;
}

.date-text {
    color: #bb8888;
    font-size: min(25px, 5vw);
    text-align: center;
}

.s-date-text {
    color: #876;
    font-size: min(18px, 4vw);
    text-align: center;
}

.time-text {
    color: #559955;
    font-size: min(13vw, 80px);
    padding: 1px;
    letter-spacing: 5px;
}

.time-now-text {
    color: #9999ff;
    font-size: 20px;
    font-weight: bold;
}
